<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) 2025 Mohamed EL Mrabet
 * CleatSquad - https://cleatsquad.dev
 *
 * This file is part of the CleatSquad_ParallelTestsPlus module.
 * Licensed under the MIT License. See the LICENSE file in the module root.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Developer\Console\Command\DevTestsRunCommand"
                type="CleatSquad\ParallelTestsPlus\Console\DevTestsRunCommand"/>
</config>
